---
layout: default
---

<h1>Examples</h1>

<ul>
    <li><a href="../scan-to-input/">Video-based Example</a> showcasing an input field for barcodes</li>
    <li><a href="../file-input/">File-based Example</a> showcasing an input field for barcodes</li>
    <li><a href="../multiple/">Video-based Example</a> showcasing the use of multiple readers</li>
    <li><a href="../static_images/">Demo with sample images</a></li>
    <li><a href="../live_w_locator/">Demo with live-stream</a> using <code>getUserMedia</code></li>
    <li><a href="../file_input/">Demo with file-input</a> showcasing a use for mobile</li>
</ul>

{{ content }}
