/* Scan! Button */

.icon-barcode.scan {
    font-size: large;
    padding: 0.5em 0.5em 0.5em 4em;
    text-align: center;
    display: block;
    background-position: 0.5em center;
}

.icon-barcode.scan:before {
    margin-right: 0.5em;
}

/* Reader Checkboxes */

.controls {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.controls .readers {
    font-size: 1.3em;
    margin-left: 1em;
}

.controls .readers label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls .readers input {
    flex: 0 0 auto;
    height: 1.5rem;
    width: 1.5rem;
}

.controls .readers span {
    flex: 1 1 auto;
}

/* Results */

.overlay .results {
    position: absolute;
    top: 100%;
    background-color: white;
    left: 0;
    right: 0;
}

.results {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #DDD;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 0.25rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid #777;
}

.results > li {
    flex: 0 1 auto;
    margin: 0.25rem;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.results:empty {
    display: none;
}

.result {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.result > .format {
    font-weight: bold;
}

.result > .code {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Scanner */

.container .controls.hide {
    display: none;
}

.overlay--inline {
    display: none;
}

.overlay--inline.show {
    display: block;
}

@media (max-width: 603px) {
    .controls {
        flex-direction: column;
        align-items: stretch;
    }

    .controls .readers {
        margin-left: 0;
        margin-top: 1em;
    }
}
